<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::page_head('Manage Users','none')"></head>
<body>

	<div class="container-fluid">
		<div th:replace="navigation :: menu"></div>
		<div>
			<h1>Manage Users</h1>
		</div>

		<div>
			<a class="fa-solid fa-user-plus"
				th:href="@{/users/new?sortField={sf}&sortDir={sd} (sf=${sortField}, sd=${sortDir} )   }"
				title="Add User"></a> &nbsp;| &nbsp; <a class="fa-solid fa-file-csv"
				th:href="@{/users/export/csv}" title="Export to CSV"></a> &nbsp;|
			&nbsp; <a class="fa-solid fa-file-excel"
				th:href="@{/users/export/excel}" title="Export to Excel"></a>
			&nbsp;| &nbsp; <a class="fa-solid fa-file-pdf"
				th:href="@{/users/export/pdf}" title="Export to Pdf"></a>
		</div>

		<div>

			<form th:action="@{/users/page/1}" class="form-inline m-3">
				<input type="hidden" name="sortField" th:value="${sortField}" /> <input
					type="hidden" name="sortDir" th:value="${sortDir}" /> <input
					type="search" name="keyword" th:value="${keyword}"
					class="form-control searchField"
					placeholder="Search Email,First Name,...." required>&nbsp;&nbsp;

				<button type="submit" class="btn">
					<i class="fas fa-search"></i>
				</button>
				&nbsp;&nbsp;

				<button type="button" class="btn clearSearch">
					<i class="fas fa-eraser"></i>
				</button>
			</form>

		</div>

		<div th:if="${message!=null}" class="alert alert-success text-center">
			[[${message}]]</div>

		<div class="full-details">
			<table
				class="table table-bordered table-striped table-hover table-responsive-xl">
				<thead class="thead-dark">
					<tr>
						<th class="hideable-column">
						<th th:replace="fragments :: column_link('id','User Id','tag')" />
						</th>

						<th>Photo</th>

						<th class="hideable-column">
						<th
							th:replace="fragments :: column_link('email','Email-Id','tag')" />
						</th>

						<th
							th:replace="fragments :: column_link('firstName','First Name','none')" />

						<th
							th:replace="fragments :: column_link('lastName','Last Name','none')" />

						<th>Roles</th>

						<th
							th:replace="fragments :: column_link('enabled','Enabled','none')" />

						<th>Actions</th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="user:${listOfUsers}">
						<td class="hideable-column">[[${user.id}]]</td>
						<td><span th:if="${user.photos==null}"
							class="fa-solid fa-image-portrait fa-5x mb-2 icon-silver"></span>
							<img th:if="${user.photos!=null}" alt=""
							th:src="@{${user.getPhotosImagePath}}" width="100" height="100">
						</td>
						<td class="hideable-column">[[${user.email}]]</td>
						<td>[[${user.firstName}]]</td>
						<td>[[${user.lastName}]]</td>
						<td>[[${user.roles}]]</td>


						<td><a th:if="${user.enabled==true}"
							th:href="@{/users/enable/{pageNum}/{id}/false(pageNum=${currentPage},id=${user.id}) }"
							class="fa-solid fa-circle-check icon-green" title="Disable User"></a>

							<a th:if="${user.enabled!=true}"
							th:href="@{/users/enable/{pageNum}/{id}/true(pageNum=${currentPage},id=${user.id}) }"
							class="fa-solid fa-circle icon-silver" title="Enable User"></a></td>


						<td><a class="fa-solid fa-pen-to-square icon-green"
							th:href="@{/users/edit/{pageNum}/{id}?sortField={sf}&sortDir={sd}&keyword={kw} (sf=${sortField},sd=${sortDir},kw=${keyword},pageNum=${currentPage},id=${user.id}) }"
							title="Edit The User"> </a> &nbsp; <a
							class="fa-solid fa-trash link-delete icon-red"
							th:fname="${user.firstName}" th:id="${user.id}"
							th:href="@{/users/delete/{pageNum}/{id}?sortField={sf}&sortDir={sd}&keyword={kw} (sf=${sortField},sd=${sortDir},kw=${keyword},pageNum=${currentPage},id=${user.id}) }"
							title="Delete The User"> </a></td>

					</tr>

				</tbody>
			</table>
		</div>

		<div class="less-details">

			<div th:each="user:${listOfUsers}" class="row m-1">
				<div class="col-4">
					<span th:if="${user.photos==null}"
						class="fa-solid fa-image-portrait fa-5x mb-2 icon-silver"></span>
					<img th:if="${user.photos!=null}" alt=""
						th:src="@{${user.getPhotosImagePath}}" width="70" height="70">
				</div>
				<div class="col-8">
					<div>[[${user.getFullName}]]</div>
					<div>[[${user.roles}]]</div>
					<div class="mt-2">
						<a th:if="${user.enabled==true}"
							th:href="@{/users/enable/{pageNum}/{id}/false(pageNum=${currentPage},id=${user.id}) }"
							class="fa-solid fa-circle-check icon-green" title="Disable User"></a>

						<a th:if="${user.enabled!=true}"
							th:href="@{/users/enable/{pageNum}/{id}/true(pageNum=${currentPage},id=${user.id}) }"
							class="fa-solid fa-circle icon-silver" title="Enable User"></a>&nbsp;
						<a class="fa-solid fa-pen-to-square icon-green"
							th:href="@{/users/edit/{pageNum}/{id}?sortField={sf}&sortDir={sd}&keyword={kw} (sf=${sortField},sd=${sortDir},kw=${keyword},pageNum=${currentPage},id=${user.id}) }"
							title="Edit The User"> </a> &nbsp; <a
							class="fa-solid fa-trash link-delete icon-red"
							th:fname="${user.firstName}" th:id="${user.id}"
							th:href="@{/users/delete/{pageNum}/{id}?sortField={sf}&sortDir={sd}&keyword={kw} (sf=${sortField},sd=${sortDir},kw=${keyword},pageNum=${currentPage},id=${user.id}) }"
							title="Delete The User"> </a>
					</div>
				</div>

				<div>&nbsp;</div>
			</div>

		</div>

		<div class="text-center m-1"
			th:if="${totalItems>0 && startCount <=totalItems}">
			<span>Showing #[[${startCount}]] to [[${endCount}]] of
				[[${totalItems}]]</span>
		</div>

		<div th:replace="navbarPaging::pagination('users')"></div>
		<div th:replace="modal_fragments::confirm-model('Delete User')"></div>
		<div th:replace="fragments::footer"></div>
	</div>

	<script type="text/javascript">
		moduleURL = "[[@{/users}]]";
		modURL1 = "users";

		$(document)
				.ready(
						function() {
							$(".link-delete")
									.on(
											"click",
											function(e) {
												e.preventDefault();
												link = $(this);
												$(".yesbutton").attr("href",
														link.attr("href"));

												showModalDialog("Are you Sure Want to Delete User "
														+ $(this).attr("fname")
														+ " Id "
														+ $(this).attr("id")
														+ " ?");
											})

							$(".clearSearch").on("click", function(e) {
								location.replace("[[@{/users}]]")
							})
						});

		function showModalDialog(message) {
			$("#modalBody").text(message);
			$("#modalDialog").modal();
		}
	</script>
</body>
</html>